<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recpie</title>
</head>
<body>
    <div class="box1">
        <div id="title">
            <h3>Recipe Book</h3>
        </div>
        <div class="box2">
            <div id="menubar">
                <button id="home" type="submit"><b>홈</b></button>
                <button id="mypage" type="submit"><b>마이페이지</b></button>
                <button id="recipebook" type="submit"><b>레시피북</b></button>
                <button id="video" type="submit"><b>레시피영상</b></button>
                <button id="store" type="submit"><b>맛집</b></button>
            </div>
            <div id="login_box">
                <button id="login" type="submit">로그인</button>
                <button id="signup" type="submit">회원가입</button>
            </div>
        </div>
        <div class="backcolor1">
            <div class="backcolor2">
                <div class="backcolor2">Recipe book</div>
            </div>
        </div>

    </div>
</div>
</body>
</html>